<div class="well">
  <h1>Decks</h1>
  <ul>
  <% @decks.each do |deck|%>
    <li><%= deck.name %></li>
    <% if login? %>
    <a href="/decks/<%= deck.id %>/cards/new">Add a card</a>
    <a href="/rounds/new/<%= deck.id %>">Play the Deck</a>
    <% end %>
  <% end %>
  </ul>
</div>