th {
  text-align: left;
}

ul li{
  /*    display:inline;*/
    list-style: none;
      margin: 15px;
      font-size: 1.5em;
    }

.login {
  margin-top: 100px;
  margin-left: 200px;
}

#alert {
  color: red;
  font-size: 1.5em
}

h2 {
  text-align: center;
}

.brand {
  font-family: 'Droid Serif', serif;
}

span.brand {
  color: #d9230f;
}

.deck-list{
  padding-left: 0;
}

.deck-item h2 {
  display: inline;
}

.card-container {
  text-align: center;
}