<% if @guess.correct.nil? %>
  <form action="/rounds/<%= @guess.round.id %>/guesses/" method="post">
    <strong>Enter your guess:</strong>
    <input type="text" name="description">
    <input type="submit" value="Submit">
  </form>
  <% else %>
  <h1>Feedback</h1>
  <p><%= feedback(@guess.correct)%></p>
  <a href="/rounds/<%= @guess.round.id %>/guesses/<%= @guess.id + 1 %>">Next</a>
<% end %>