<div class="well">
  <h2>Round Summary</h2>
  <table class="table">
    <thead>
      <th>Deck</th>
      <th>Correct</th>
      <th>Incorrect</th>
    </thead>
    <% @rounds.each do |round|%>
      <tr>
        <td><%= round.deck.name %></td>
        <td><%= round.correct %></td>
        <td><%= round.incorrect %></td>
      </tr>
    <% end %>
  </table>
</div>