<div class="card-container">
  <div class="card well">
    <h3><%= @card.description %></h3>
  </div>
  <% if @guess.nil? %>
    <form action="/rounds/<%= @round.id %>" method="post">
      <label>Enter your guess:</label>
      <input type="text" name="term">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  <% end %>
</div>