<% if @guess.nil? %>
  <div class="well card">
    <h1><%= @card.description %></h1>
  </div>
  <form action="/rounds/<%= @round.id %>" method="post">
    <strong>Enter your guess:</strong>
    <input type="text" name="term">
    <input type="submit" value="Submit">
  </form>
<% end %>