<div class="well">
  <h1>Decks</h1>
  <a href="/decks/new">Add Deck</a>
  <hr>
  <ul class="deck-list">
  <% @decks.each do |deck|%>
    <li class="deck-item">
      <div>
        <h2><%= deck.name %></h2>
        <% if logged_in? %>
          <div class="pull-right">
            <% if current_user.id == deck.user_id %>
              <a href="/decks/<%= deck.id %>/cards/new">Add Card</a> |
            <% end %>
            <% if !deck.cards.empty?  %>
              <a href="/rounds/new/<%= deck.id %>">Play</a>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</div>