<div class='login'>

  <form action="/" method="post">
    <input class='submissionfield' name="name" placeholder="Username" />
    <input class='submissionfield' type="password" name="user_password" placeholder="Password" />
    <input class='button' type='submit' value='Login'><br>
  </form>

  <div id='alert'>
    <%= @alert %>
  </div>
</div>