  <div class="jumbotron">
    <div class="row">
    <ul>
      <h1>Flash Me</h1>
      <li><a href="/decks">Decks</a></li>
      <% if logged_in? %>
      <h1>Hello <%= User.find(session[:id]).name.camelcase %> </h1>
      <li><a href="/logout">Logout</a></li>
      <% else %>
        <%if  params[:onpage] == 'yes' %>
            <li><a href="/decks">Back to Home</a></li>
        <% else %>
          <li><a href="/signup?onpage=yes">Sign Up</a></li>
        <% end %>
      <% end %>
    </ul>
    </div>
  </div>