<div class='well'>
  <h2>Keeping Up with the <span class="brand">Cardashians</span></h2>
  <% if @errors %>
    <div class="alert alert-danger">
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
    </div>
  <% end %>
  <form role="form" action="/signup" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class='form-control' id="name" name="name"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class='form-control' id="email" name="email"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class='form-control' id="password" type="password" name="user_password"/>
    </div>
    <input class='btn btn-primary' type='submit' value='Sign Up'>
  </form>
</div>