



<div class='login'>

  <form action="/signup" method="post">
    <input class='submissionfield' name="name" value="Username" />
    <input class='submissionfield'name="user_password" value="Password" />
     <input class='button' type='submit' value='Signup'><br>
  </form>

  <div id='alert'>
    <%= @alert %>
  </div>
</div>
